Repository odyssey4me/agent-skills: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-skills, pytest-changed

validate-skills:
  name: validate skill structure
  entry: python scripts/validate_skill.py
  language: system
  pass_filenames: false
  args:
  - skills/*
  stages:
  - pre-commit

pytest-changed:
  name: coverage check for changed files
  entry: bash -c 'cov_args=""; for f in "$@"; do cov_args="$cov_args --cov=$f"; done; pytest tests/ -q $cov_args --cov-report=term-missing --cov-fail-under=80' --
  language: system
  stages:
  - pre-commit

feat: add independent Tessl tile.json per skill
  skills/code-review/tile.json
  skills/confluence/tile.json
  skills/gerrit/tile.json
  skills/github/tile.json
  skills/gitlab/tile.json
  skills/gmail/tile.json
  skills/google-calendar/tile.json
  skills/google-docs/tile.json
  skills/google-drive/tile.json
  skills/google-sheets/tile.json
  skills/google-slides/tile.json
  skills/jira/tile.json
Due: none

Revert "Update files in odyssey4me/agent-skills@tessl/agent-skills-0.2.0-ss5ti"
  tile/docs/confluence.md
  tile/docs/index.md
  tile/docs/jira.md
  tile/docs/setup-helper.md
  tile/docs/validate-skill.md
  tile/evals/scenario-0/capability.txt
  tile/evals/scenario-0/criteria.json
  tile/evals/scenario-0/task.md
  tile/evals/scenario-1/capability.txt
  tile/evals/scenario-1/criteria.json
  tile/evals/scenario-1/task.md
  tile/evals/scenario-2/capability.txt
  tile/evals/scenario-2/criteria.json
  tile/evals/scenario-2/task.md
  tile/evals/scenario-3/capability.txt
  tile/evals/scenario-3/criteria.json
  tile/evals/scenario-3/task.md
  tile/evals/scenario-4/capability.txt
  tile/evals/scenario-4/criteria.json
  tile/evals/scenario-4/task.md
  tile/evals/scenario-5/capability.txt
  tile/evals/scenario-5/criteria.json
  tile/evals/scenario-5/task.md
  tile/evals/scenario-6/capability.txt
  tile/evals/scenario-6/criteria.json
  tile/evals/scenario-6/task.md
  tile/evals/scenario-7/capability.txt
  tile/evals/scenario-7/criteria.json
  tile/evals/scenario-7/task.md
  tile/evals/scenario-8/capability.txt
  tile/evals/scenario-8/criteria.json
  tile/evals/scenario-8/task.md
  tile/evals/scenario-9/capability.txt
  tile/evals/scenario-9/criteria.json
  tile/evals/scenario-9/task.md
  tile/tile.json
Due: none

fix(jira): add missing api_path mock to comment tests
  tests/test_jira.py
Due: pytest-changed

fix(confluence): correct relative link to SKILL.md in creating-content reference
  skills/confluence/references/creating-content.md
Due: none

feat: add tessl tile linting and staleness checks to hooks and CI
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
Due: none

fix: replace relative file links with GitHub URLs in Google skill docs
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
Due: validate-skills

fix: remove cross-skill reference sections from Google skills
  skills/google-docs/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
Due: validate-skills

fix: remove unnecessary __init__.py files from skills
  skills/confluence/__init__.py
  skills/confluence/scripts/__init__.py
  skills/gerrit/scripts/__init__.py
  skills/github/scripts/__init__.py
  skills/gitlab/scripts/__init__.py
  skills/google-docs/__init__.py
  skills/google-docs/scripts/__init__.py
  skills/google-sheets/__init__.py
  skills/google-sheets/scripts/__init__.py
  skills/google-slides/__init__.py
  skills/google-slides/scripts/__init__.py
  skills/jira/__init__.py
  skills/jira/scripts/__init__.py
Due: pytest-changed

feat: publish skills to Tessl Registry on release
  .github/workflows/release.yaml
Due: none

docs: add tessl skill review recommendations to TODO.md
  TODO.md
Due: none

fix: use string values for metadata tags and requires per Agent Skills spec
  TODO.md
  scripts/generate_registry.py
  skills/code-review/SKILL.md
  skills/confluence/SKILL.md
  skills/gerrit/SKILL.md
  skills/github/SKILL.md
  skills/gitlab/SKILL.md
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
  skills/jira/SKILL.md
  templates/api-skill/SKILL.md.template
  templates/cli-skill/SKILL.md.template
  templates/workflow-skill/SKILL.md.template
  tests/test_generate_registry.py
Due: validate-skills, pytest-changed

fix: use compliant allowed-tools format for tessl validation
  AGENTS.md
  CONTRIBUTING.md
  docs/developer-guide.md
  skills/code-review/SKILL.md
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/gerrit/SKILL.md
  skills/gerrit/scripts/gerrit.py
  skills/github/SKILL.md
  skills/github/scripts/github.py
  skills/gitlab/SKILL.md
  skills/gitlab/scripts/gitlab.py
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-drive/scripts/google-drive.py
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
  skills/google-slides/scripts/google-slides.py
  skills/jira/SKILL.md
  templates/api-skill/SKILL.md.template
Due: validate-skills, pytest-changed

docs: update TODO.md for allowed-tools completion and registry removal
  TODO.md
Due: none

fix: improve code-review skill description trigger terms (33% → 100%)
  TODO.md
  skills.json
  skills/code-review/SKILL.md
  skills/code-review/tile.json
Due: validate-skills

fix: improve description trigger terms for all remaining skills
  CLAUDE.md
  TODO.md
  skills.json
  skills/gerrit/SKILL.md
  skills/gerrit/tile.json
  skills/github/SKILL.md
  skills/github/tile.json
  skills/gitlab/SKILL.md
  skills/gitlab/tile.json
  skills/gmail/SKILL.md
  skills/gmail/tile.json
  skills/google-calendar/SKILL.md
  skills/google-calendar/tile.json
  skills/google-docs/SKILL.md
  skills/google-docs/tile.json
  skills/google-drive/SKILL.md
  skills/google-drive/tile.json
  skills/google-sheets/SKILL.md
  skills/google-sheets/tile.json
  skills/google-slides/SKILL.md
  skills/google-slides/tile.json
  skills/jira/SKILL.md
  skills/jira/tile.json
Due: validate-skills

docs: add TODO.md cleanup rule to CLAUDE.md and remove completed items
  CLAUDE.md
  TODO.md
Due: none

refactor: consolidate OAuth troubleshooting across Google skills
  TODO.md
  docs/google-oauth-setup.md
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
Due: validate-skills

refactor: trim installation/prerequisites sections across all skills
  TODO.md
  skills/confluence/SKILL.md
  skills/gerrit/SKILL.md
  skills/github/SKILL.md
  skills/gitlab/SKILL.md
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
Due: validate-skills

refactor: remove verbose OAuth and rate-limit explanations from skills
  TODO.md
  skills.json
  skills/github/SKILL.md
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
  skills/jira/SKILL.md
Due: validate-skills

chore: remove skills.json registry and generate_registry.py
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  TODO.md
  scripts/generate_registry.py
  skills.json
  tests/test_generate_registry.py
Due: pytest-changed

refactor: consolidate and trim code-review SKILL.md content
  TODO.md
  skills/code-review/SKILL.md
Due: validate-skills

refactor: add validation steps to github skill workflow examples
  TODO.md
  skills/github/SKILL.md
Due: validate-skills

refactor: add validation steps and remove redundant summary in gitlab skill
  TODO.md
  skills/gitlab/SKILL.md
Due: validate-skills

refactor: move gerrit troubleshooting and advanced usage to reference files
  TODO.md
  skills/gerrit/SKILL.md
  skills/gerrit/references/advanced-usage.md
  skills/gerrit/references/troubleshooting.md
Due: validate-skills

refactor: add validation steps and remove redundant summary in gerrit skill
  skills/gerrit/SKILL.md
Due: validate-skills

refactor: move google-calendar command reference to reference file
  scripts/validate_skill.py
  skills/google-calendar/SKILL.md
  skills/google-calendar/references/command-reference.md
Due: validate-skills, pytest-changed

fix: match semver tags without v prefix in release workflow
  .github/workflows/release.yaml
Due: none

feat: version skill packages individually from SKILL.md frontmatter
  .github/workflows/release.yaml
  scripts/validate_skill.py
  tests/test_validate_skill.py
Due: pytest-changed

docs: add semver-based skill versioning guidelines to CLAUDE.md
  CLAUDE.md
Due: none

docs: compare against last release when evaluating version bumps
  CLAUDE.md
Due: none

feat: add check_versions.sh script for release readiness
  CLAUDE.md
  scripts/check_versions.sh
Due: none

chore: bump skill versions for unreleased changes since 0.4.0
  skills/confluence/SKILL.md
  skills/gerrit/SKILL.md
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
Due: validate-skills

feat: add pre_commit_checks.sh script and simplify CLAUDE.md instructions
  CLAUDE.md
  scripts/pre_commit_checks.sh
Due: none

refactor: extract google-drive SKILL.md reference content to separate files
  TODO.md
  skills/google-drive/SKILL.md
  skills/google-drive/references/api-reference.md
  skills/google-drive/references/command-reference.md
Due: validate-skills

fix: rename confluence examples section to match validation
  skills/confluence/SKILL.md
Due: validate-skills

refactor: extract google-slides SKILL.md reference content to separate files
  skills/google-slides/SKILL.md
  skills/google-slides/references/command-reference.md
Due: validate-skills

feat: validate version bump level in check_versions.sh
  CLAUDE.md
  scripts/check_versions.sh
Due: none

refactor: extract jira SKILL.md reference content to separate files
  TODO.md
  skills/jira/SKILL.md
  skills/jira/references/examples.md
  skills/jira/references/jql-reference.md
Due: validate-skills

fix: clarify version check subagent must not write output to files
  CLAUDE.md
Due: none

fix: downgrade google-drive version bump from minor to patch
  skills/google-drive/SKILL.md
Due: validate-skills

Path conditions:
  validate-skills: any of: ^skills/.*/SKILL\.md$
  pytest-changed: any of: \.py$
