Repository odyssey4me/agent-skills: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-skills, tessl-lint, tessl-sync, diff-cover

validate-skills:
  name: validate skill structure
  entry: python scripts/validate_skill.py
  language: system
  pass_filenames: false
  args:
  - skills/*
  stages:
  - pre-commit

tessl-lint:
  name: tessl skill lint
  entry: bash -c 'status=0; for t in skills/*/tile.json; do tessl skill lint "$t" || status=1; done; exit $status'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tessl-sync:
  name: check tile.json files are up to date
  entry: bash -c 'for d in skills/*/; do [ -f "$d/tile.json" ] && tessl skill import "$d" --workspace odyssey4me --public --force 2>/dev/null; done; git diff --exit-code skills/*/tile.json'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

diff-cover:
  name: coverage for changed lines
  entry: bash -c 'pytest tests/ -q --cov=skills --cov=scripts --cov-report=xml:coverage.xml && diff-cover coverage.xml --compare-branch=HEAD --fail-under=80'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: disable Renovate dependency dashboard
  renovate.json
Due: none

feat(gerrit): add changes diff command to fetch unified diffs
  skills/gerrit/SKILL.md
  skills/gerrit/scripts/gerrit.py
  tests/test_gerrit.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

docs(google): document --spacing-mode flag for docs format
  skills/google/SKILL.md
  skills/google/references/docs-workflows.md
  skills/google/references/docs.md
Due: validate-skills, tessl-lint, tessl-sync

feat(jira): include reporter in issue get output
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(jira): add ADF-to-markdown conversion and issue unlink support
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(jira): add ordered list support in markdown-to-ADF conversion
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(jira): add parent/child hierarchy management for issues
  skills/jira/SKILL.md
  skills/jira/references/from-file-format.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(deps): add missing pyadf dev dependency
  pyproject.toml
  uv.lock
Due: none

build: run local checks through uv and add the ones CI has
  .pre-commit-config.yaml
  scripts/pre_commit_checks.sh
Due: none

fix(scripts): don't abort check_versions.sh on newly added skills
  scripts/check_versions.sh
Due: none

chore(claude): allow read-only gh commands without approval
  .claude/settings.json
Due: none

ci: test across current and future Python releases
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
Due: none

docs: define the Python support policy
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  pyproject.toml
Due: none

docs: correct why the next-release leg is non-blocking
  CONTRIBUTING.md
Due: none

ci: make validate-gogcli exercise its own changes
  .github/workflows/validate-gogcli.yaml
Due: none

ci: pin govulncheck and track it with renovate
  .github/workflows/validate-gogcli.yaml
  renovate.json
Due: none

feat(jira): add project version lookup and release reports
  skills/jira/SKILL.md
  skills/jira/references/advanced-commands.md
  skills/jira/references/permissions.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(jira): tolerate missing keyring backend in credential lookup
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: tessl-lint, tessl-sync, diff-cover

test(jira): mock get_remote_links in cmd_issue get tests
  tests/test_jira.py
Due: diff-cover

docs(skills): keep consumption portable and clarify network access
  README.md
  docs/config-samples/.claude/CLAUDE.md.sample
  docs/config-samples/.codex/AGENTS.md.sample
  docs/config-samples/README.md
  docs/user-guide.md
  skills/confluence/SKILL.md
  skills/gerrit/SKILL.md
  skills/github/SKILL.md
  skills/gitlab/SKILL.md
  skills/google/SKILL.md
  skills/google/references/configuration.md
  skills/jira/SKILL.md
  templates/api-skill/SKILL.md.template
  templates/cli-skill/SKILL.md.template
  templates/workflow-skill/SKILL.md.template
Due: validate-skills, tessl-lint, tessl-sync

docs(confluence): reduce skill context through shared references
  skills/confluence/SKILL.md
  skills/confluence/references/creating-content.md
Due: validate-skills, tessl-lint, tessl-sync

chore: use Codex for repository development
  .agents/skills/confluence
  .agents/skills/gerrit
  .agents/skills/github
  .agents/skills/gitlab
  .agents/skills/google
  .agents/skills/jira
  .claude/hooks/check-skill-versions.sh
  .claude/settings.json
  .gitignore
  .pre-commit-config.yaml
  .skillsaw.yaml
  AGENTS.md
  CONTRIBUTING.md
  docs/developer-guide.md
  scripts/dev-link.sh
  scripts/pre_commit_checks.sh
  scripts/setup_helper.py
  skills/AGENTS.md
  tests/test_setup_helper.py
Due: tessl-lint, tessl-sync, diff-cover

fix(deps): update urllib3 to address streaming denial of service
  uv.lock
Due: none

fix(deps): update urllib3 to address streaming denial of service (#38)
  uv.lock
Due: none

fix(deps): upgrade virtualenv to resolve security advisories
  uv.lock
Due: none

fix(confluence): identify Cloud URLs by parsed hostname
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

test(jira): assert the complete configured URL output line
  tests/test_jira.py
Due: diff-cover

Path conditions:
  validate-skills: any of: ^skills/.*/SKILL\.md$
  tessl-lint: any of: ^skills/
  tessl-sync: any of: ^skills/
  diff-cover: any of: \.py$
