Repository odyssey4me/agent-skills: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-skills, tessl-lint, tessl-sync, diff-cover

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      # Run the linter
      - id: ruff
        name: ruff lint
        args: [--fix]
        stages: [pre-commit]
      # Run the formatter
      - id: ruff-format
        name: ruff format
        stages: [pre-commit]
      # Pre-push: strict checks matching CI (no auto-fix)
      - id: ruff
        name: ruff check (pre-push)
        alias: ruff-check-prepush
        stages: [pre-push]
      - id: ruff-format
        name: ruff format check (pre-push)
        alias: ruff-format-prepush
        args: [--check]
        stages: [pre-push]

  # Validate skill structure before commit
  - repo: local
    hooks:
      - id: validate-skills
        name: validate skill structure
        entry: python scripts/validate_skill.py
        language: system
        files: ^skills/.*/SKILL\.md$
        pass_filenames: false
        args: [skills/*]
        stages: [pre-commit]

      - id: tessl-lint
        name: tessl skill lint
        entry: bash -c 'status=0; for t in skills/*/tile.json; do tessl skill lint "$t" || status=1; done; exit $status'
        language: system
        files: ^skills/
        pass_filenames: false
        stages: [pre-commit]

      - id: tessl-sync
        name: check tile.json files are up to date
        entry: bash -c 'for d in skills/*/; do [ -f "$d/tile.json" ] && tessl skill import "$d" --workspace odyssey4me --public --force 2>/dev/null; done; git diff --exit-code skills/*/tile.json'
        language: system
        files: ^skills/
        pass_filenames: false
        stages: [pre-commit]

      - id: diff-cover
        name: coverage for changed lines
        entry: bash -c 'pytest tests/ -q --cov=skills --cov=scripts --cov-report=xml:coverage.xml && diff-cover coverage.xml --compare-branch=HEAD --fail-under=80'
        language: system
        pass_filenames: false
        types: [python]
        stages: [pre-commit]

  # Run full CI checks before push
  - repo: local
    hooks:
      - id: validate-skills-prepush
        name: validate skill structure (pre-push)
        entry: python scripts/validate_skill.py
        language: system
        pass_filenames: false
        args: [skills/*]
        stages: [pre-push]
        always_run: true

      - id: tessl-lint-prepush
        name: tessl skill lint (pre-push)
        entry: bash -c 'status=0; for t in skills/*/tile.json; do tessl skill lint "$t" || status=1; done; exit $status'
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true

      - id: tessl-sync-prepush
        name: check tile.json files are up to date (pre-push)
        entry: bash -c 'for d in skills/*/; do [ -f "$d/tile.json" ] && tessl skill import "$d" --workspace odyssey4me --public --force 2>/dev/null; done; git diff --exit-code skills/*/tile.json'
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true

      - id: pytest-coverage
        name: pytest (full test suite with coverage)
        entry: pytest
        language: system
        pass_filenames: false
        args: [tests/, -v, --cov=skills, --cov=scripts, --cov-report=term-missing, --cov-fail-under=80]
        stages: [pre-push]
        always_run: true


# Default stages (can be overridden per hook)
default_stages: [pre-commit]

# Fail fast - stop on first failure
fail_fast: false

fix: add contents:write permission to release workflow
  .github/workflows/release.yaml
Due: none

fix: upload assets to existing release and document release process
  .github/workflows/release.yaml
  CLAUDE.md
Due: none

docs: clarify release ordering — create release before pushing tag
  CLAUDE.md
Due: none

fix: use tesslio/publish action for Tessl registry publishing
  .github/workflows/release.yaml
Due: none

fix: sync tile.json versions from SKILL.md frontmatter
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  scripts/pre_commit_checks.sh
  scripts/sync_tile_versions.sh
  skills/code-review/tile.json
  skills/confluence/tile.json
  skills/gerrit/tile.json
  skills/github/tile.json
  skills/gitlab/tile.json
  skills/gmail/tile.json
  skills/google-calendar/tile.json
  skills/google-docs/tile.json
  skills/google-drive/tile.json
  skills/google-sheets/tile.json
  skills/google-slides/tile.json
  skills/jira/tile.json
Due: tessl-lint, tessl-sync

feat(google-calendar): add automatic pagination for event listing
  skills/google-calendar/SKILL.md
  skills/google-calendar/scripts/google-calendar.py
  skills/google-calendar/tile.json
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(google-sheets): stop truncating cell data in formatted output
  skills/google-sheets/SKILL.md
  skills/google-sheets/scripts/google-sheets.py
  skills/google-sheets/tile.json
  tests/test_google_sheets.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(gmail): extract and display message body in messages get
  skills/gmail/SKILL.md
  skills/gmail/scripts/gmail.py
  skills/gmail/tile.json
  tests/test_gmail.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat: add per-skill command permissions reference
  docs/user-guide.md
  skills/confluence/SKILL.md
  skills/confluence/references/permissions.md
  skills/confluence/tile.json
  skills/gerrit/SKILL.md
  skills/gerrit/references/permissions.md
  skills/gerrit/tile.json
  skills/github/SKILL.md
  skills/github/references/permissions.md
  skills/github/tile.json
  skills/gitlab/SKILL.md
  skills/gitlab/references/permissions.md
  skills/gitlab/tile.json
  skills/gmail/SKILL.md
  skills/gmail/references/permissions.md
  skills/gmail/tile.json
  skills/google-calendar/SKILL.md
  skills/google-calendar/references/permissions.md
  skills/google-calendar/tile.json
  skills/google-docs/SKILL.md
  skills/google-docs/references/permissions.md
  skills/google-docs/tile.json
  skills/google-drive/SKILL.md
  skills/google-drive/references/permissions.md
  skills/google-drive/tile.json
  skills/google-sheets/SKILL.md
  skills/google-sheets/references/permissions.md
  skills/google-sheets/tile.json
  skills/google-slides/SKILL.md
  skills/google-slides/references/permissions.md
  skills/google-slides/tile.json
  skills/jira/SKILL.md
  skills/jira/references/permissions.md
  skills/jira/tile.json
Due: validate-skills, tessl-lint, tessl-sync

fix(google-drive): add --convert-to option for MIME type conversion on upload
  skills/google-drive/SKILL.md
  skills/google-drive/scripts/google-drive.py
  skills/google-drive/tile.json
  tests/test_google_drive.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-docs): add documents import command for markdown files
  skills/google-docs/SKILL.md
  skills/google-docs/references/permissions.md
  skills/google-docs/scripts/google-docs.py
  skills/google-docs/tile.json
  tests/test_google_docs.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-drive): add files delete command
  skills/google-drive/SKILL.md
  skills/google-drive/references/api-reference.md
  skills/google-drive/references/command-reference.md
  skills/google-drive/references/permissions.md
  skills/google-drive/scripts/google-drive.py
  tests/test_google_drive.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-drive): add files rename command
  skills/google-drive/SKILL.md
  skills/google-drive/references/api-reference.md
  skills/google-drive/references/command-reference.md
  skills/google-drive/references/permissions.md
  skills/google-drive/scripts/google-drive.py
  tests/test_google_drive.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-drive): add files copy command
  skills/google-drive/SKILL.md
  skills/google-drive/references/api-reference.md
  skills/google-drive/references/command-reference.md
  skills/google-drive/references/permissions.md
  skills/google-drive/scripts/google-drive.py
  tests/test_google_drive.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(jira): use correct search endpoint for Cloud vs Data Center
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  skills/jira/tile.json
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

docs: update CLI references from `add-skill` to `skills`
  README.md
  docs/config-samples/README.md
  docs/developer-guide.md
  docs/user-guide.md
Due: none

feat(gerrit): add `changes diff` command to fetch unified diffs
  skills/gerrit/SKILL.md
  skills/gerrit/scripts/gerrit.py
  tests/test_gerrit.py
  uv.lock
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(confluence): detect misconfigured URL with /wiki suffix in check command
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(jira): resolve user email/name to accountId for Cloud searches
  TODO.md
  skills/jira/SKILL.md
  skills/jira/references/permissions.md
  skills/jira/scripts/jira.py
  skills/jira/tile.json
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-drive): add comments list command
  skills/google-drive/SKILL.md
  skills/google-drive/references/api-reference.md
  skills/google-drive/references/command-reference.md
  skills/google-drive/references/permissions.md
  skills/google-drive/scripts/google-drive.py
  skills/google-drive/tile.json
  tests/test_google_drive.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat: added support for authsome
  README.md
  docs/user-guide.md
  skills/code-review/SKILL.md
  skills/confluence/SKILL.md
  skills/gerrit/SKILL.md
  skills/github/SKILL.md
  skills/gitlab/SKILL.md
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
  skills/jira/SKILL.md
Due: validate-skills, tessl-lint, tessl-sync

feat(google-drive): add files export command for Google Workspace docs
  skills/google-drive/SKILL.md
  skills/google-drive/references/api-reference.md
  skills/google-drive/references/command-reference.md
  skills/google-drive/references/permissions.md
  skills/google-drive/scripts/google-drive.py
  skills/google-drive/tile.json
  tests/test_google_drive.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(jira): add story points display and pagination improvements
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(jira): generic custom field mapping with auto-discovery
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  skills/jira/tile.json
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(jira): cache field schema types to avoid API calls on set-field
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

refactor(jira): use generic security level examples
  skills/jira/SKILL.md
  skills/jira/references/examples.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(jira): parse markdown to ADF in format_rich_text for Cloud
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: tessl-lint, tessl-sync, diff-cover

docs: update add-skill references to renamed skills CLI
  README.md
  docs/config-samples/README.md
  docs/developer-guide.md
  docs/user-guide.md
Due: none

feat(jira): add --from-file markdown import and issue linking
  skills/jira/SKILL.md
  skills/jira/references/jql-reference.md
  skills/jira/references/scriptrunner.md
  skills/jira/scripts/jira.py
  skills/jira/tile.json
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(gmail): add thread support, pagination, and Google Groups permalinks
  skills/gmail/SKILL.md
  skills/gmail/references/permissions.md
  skills/gmail/scripts/gmail.py
  skills/gmail/tile.json
  tests/test_gmail.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(google-calendar): show full event descriptions without truncation
  skills/google-calendar/SKILL.md
  skills/google-calendar/scripts/google-calendar.py
  skills/google-calendar/tile.json
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

chore: add .ignore to reduce Claude Code context noise
  .ignore
Due: none

chore: add project settings.json with tile.json deny rules
  .claude/settings.json
Due: none

docs: add repository layout map to CLAUDE.md
  CLAUDE.md
Due: none

docs: add subdirectory CLAUDE.md for skills/
  skills/CLAUDE.md
Due: tessl-lint, tessl-sync

feat: add Claude Code hook to enforce skill version bumps
  .claude/hooks/check-skill-versions.sh
  .claude/settings.json
Due: none

refactor: move release procedure from CLAUDE.md to developer guide
  CLAUDE.md
  docs/developer-guide.md
Due: none

docs: add quarterly maintenance reminder to CLAUDE.md
  CLAUDE.md
Due: none

docs: include subdirectory CLAUDE.md files in maintenance cadence
  CLAUDE.md
Due: none

fix: correct deny rule syntax for Edit/Write in settings.json
  .claude/settings.json
Due: none
