Repository odyssey4me/agent-skills: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-skills, pytest-changed

validate-skills:
  name: validate skill structure
  entry: python scripts/validate_skill.py
  language: system
  pass_filenames: false
  args:
  - skills/*
  stages:
  - pre-commit

pytest-changed:
  name: coverage check for changed files
  entry: bash -c 'cov_args=""; for f in "$@"; do cov_args="$cov_args --cov=$f"; done; pytest tests/ -q $cov_args --cov-report=term-missing --cov-fail-under=80' --
  language: system
  stages:
  - pre-commit

feat: use diff-cover for pre-commit changed-line coverage checks
  .pre-commit-config.yaml
  pyproject.toml
  skills/google-docs/scripts/google-docs.py
  skills/google-slides/scripts/google-slides.py
Due: pytest-changed

feat: add pre-push hooks to match CI checks
  .pre-commit-config.yaml
Due: none

docs: simplify installation examples with variety across sections
  README.md
  docs/user-guide.md
Due: none

fix: pin ruff version consistently across CI, pre-commit, and pyproject
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_generate_registry.py
Due: pytest-changed

feat: add Renovate config for automated dependency updates
  renovate.json
Due: none

feat: add auth reset/status commands and update error handling docs
  AGENTS.md
  skills/gmail/SKILL.md
  skills/gmail/scripts/gmail.py
  skills/google-calendar/SKILL.md
  skills/google-calendar/scripts/google-calendar.py
  skills/google-docs/SKILL.md
  skills/google-docs/scripts/google-docs.py
  skills/google-drive/SKILL.md
  skills/google-drive/scripts/google-drive.py
  skills/google-sheets/SKILL.md
  skills/google-sheets/scripts/google-sheets.py
  skills/google-slides/SKILL.md
  skills/google-slides/scripts/google-slides.py
  templates/api-skill/SKILL.md.template
  tests/test_gmail.py
  tests/test_google_calendar.py
  tests/test_google_docs.py
  tests/test_google_drive.py
  tests/test_google_sheets.py
  tests/test_google_slides.py
Due: validate-skills, pytest-changed

docs: add pre-commit guidance section to AGENTS.md
  AGENTS.md
Due: none

docs(agents): add atomic and conventional commit guidance
  AGENTS.md
Due: none

docs(agents): link to commit message best practices
  AGENTS.md
Due: none

docs: track unsupported Drive API operations and clean up TODO
  AGENTS.md
  TODO.md
  skills/google-drive/SKILL.md
Due: validate-skills

feat(google-drive): add files move command
  TODO.md
  skills/google-drive/SKILL.md
  skills/google-drive/scripts/google-drive.py
  tests/test_google_drive.py
Due: validate-skills, pytest-changed

feat(scripts): add dev-link.sh for local skill testing
  CONTRIBUTING.md
  docs/developer-guide.md
  scripts/dev-link.sh
Due: none

feat(google-drive): use full drive scope for write operations
  docs/gcp-project-setup.md
  docs/google-oauth-setup.md
  skills/google-drive/SKILL.md
  skills/google-drive/scripts/google-drive.py
  tests/test_google_drive.py
Due: validate-skills, pytest-changed

feat(gmail): use markdown for default output format
  skills/gmail/scripts/gmail.py
  tests/test_gmail.py
Due: pytest-changed

docs: establish markdown as default output format principle
  AGENTS.md
  docs/developer-guide.md
Due: none

feat(google-docs): use markdown for default output format
  skills/google-docs/scripts/google-docs.py
  tests/test_google_docs.py
Due: pytest-changed

feat(google-drive): use markdown for default output format
  skills/google-drive/scripts/google-drive.py
  tests/test_google_drive.py
Due: pytest-changed

feat(google-sheets): use markdown for default output format
  skills/google-sheets/scripts/google-sheets.py
  tests/test_google_sheets.py
Due: pytest-changed

feat(google-slides): use markdown for default output format
  skills/google-slides/scripts/google-slides.py
  tests/test_google_slides.py
Due: pytest-changed

feat(jira): use markdown for default output format
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: pytest-changed

feat(confluence): use markdown for default output format
  skills/confluence/scripts/confluence.py
  tests/test_confluence.py
Due: pytest-changed

feat(github): add markdown wrapper script
  skills.json
  skills/github/scripts/__init__.py
  skills/github/scripts/github.py
  tests/test_github.py
Due: pytest-changed

docs(github): update SKILL.md for script usage
  skills.json
  skills/github/SKILL.md
Due: validate-skills

feat(gitlab): add markdown wrapper script
  TODO.md
  skills.json
  skills/gitlab/SKILL.md
  skills/gitlab/scripts/__init__.py
  skills/gitlab/scripts/gitlab.py
  tests/test_gitlab.py
Due: validate-skills, pytest-changed

feat(gerrit): add markdown wrapper script
  TODO.md
  skills.json
  skills/gerrit/SKILL.md
  skills/gerrit/scripts/__init__.py
  skills/gerrit/scripts/gerrit.py
  tests/test_gerrit.py
Due: validate-skills, pytest-changed

feat(code-review): use wrapper scripts for read operations
  skills.json
  skills/code-review/SKILL.md
Due: validate-skills

feat(github): add prs status wrapper command
  skills/github/SKILL.md
  skills/github/scripts/github.py
  tests/test_github.py
Due: validate-skills, pytest-changed

docs: add code-review skill to README available skills table
  README.md
Due: none

docs(agents): add guideline to update README when adding skills
  AGENTS.md
Due: none

docs: add skills.sh link for install counts and popularity
  README.md
Due: none

docs: sort available skills table alphabetically
  README.md
Due: none

docs: add best practices for agent skill usage
  docs/user-guide.md
Due: none

docs: deduplicate dev install instructions in user guide
  docs/user-guide.md
Due: none

feat(google-calendar): add response status awareness to event listing
  skills/google-calendar/SKILL.md
  skills/google-calendar/scripts/google-calendar.py
  tests/test_google_calendar.py
Due: validate-skills, pytest-changed

docs: remove --json flag documentation from skill SKILL.md files
  skills/code-review/SKILL.md
  skills/confluence/SKILL.md
  skills/gerrit/SKILL.md
  skills/github/SKILL.md
  skills/gitlab/SKILL.md
  skills/gmail/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
  skills/jira/SKILL.md
Due: validate-skills

feat(google-docs): default document read format to markdown
  skills/google-docs/SKILL.md
  skills/google-docs/scripts/google-docs.py
  tests/test_google_docs.py
Due: validate-skills, pytest-changed

feat: add $SKILL_DIR paths and allowed-tools to all skill SKILL.md files
  skills/confluence/SKILL.md
  skills/gerrit/SKILL.md
  skills/github/SKILL.md
  skills/gitlab/SKILL.md
  skills/gmail/SKILL.md
  skills/google-calendar/SKILL.md
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-sheets/SKILL.md
  skills/google-slides/SKILL.md
  skills/jira/SKILL.md
  templates/api-skill/SKILL.md.template
Due: validate-skills

feat(google-docs): add insert-after-anchor command with markdown support
  skills/google-docs/scripts/google-docs.py
  tests/test_google_docs.py
Due: pytest-changed

feat(jira): add collaboration surfacing features
  skills.json
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, pytest-changed

docs: add collaboration surfacing tasks for github, gitlab, and gerrit skills
  TODO.md
Due: none

Path conditions:
  validate-skills: any of: ^skills/.*/SKILL\.md$
  pytest-changed: any of: \.py$
