Repository odyssey4me/agent-skills: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-skills, tessl-lint, tessl-sync, diff-cover

validate-skills:
  name: validate skill structure
  entry: python scripts/validate_skill.py
  language: system
  pass_filenames: false
  args:
  - skills/*
  stages:
  - pre-commit

tessl-lint:
  name: tessl skill lint
  entry: bash -c 'status=0; for t in skills/*/tile.json; do tessl skill lint "$t" || status=1; done; exit $status'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tessl-sync:
  name: check tile.json files are up to date
  entry: bash -c 'for d in skills/*/; do [ -f "$d/tile.json" ] && tessl skill import "$d" --workspace odyssey4me --public --force 2>/dev/null; done; git diff --exit-code skills/*/tile.json'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

diff-cover:
  name: coverage for changed lines
  entry: bash -c 'pytest tests/ -q --cov=skills --cov=scripts --cov-report=xml:coverage.xml && diff-cover coverage.xml --compare-branch=HEAD --fail-under=80'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: skip non-directory paths in validate_skill.py
  scripts/validate_skill.py
Due: diff-cover

feat(jira): render resolution field in formatted output
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  skills/jira/tile.json
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

test(jira): add tests for search result truncation warning
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  skills/jira/tile.json
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(gmail): add messages mark-read command
  skills/gmail/SKILL.md
  skills/gmail/scripts/gmail.py
  skills/gmail/tile.json
  tests/test_gmail.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(gmail): support multiple messages in mark-read command
  skills/gmail/SKILL.md
  skills/gmail/scripts/gmail.py
  tests/test_gmail.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(gmail): add --from-file with markdown-to-HTML email support
  skills/gmail/SKILL.md
  skills/gmail/scripts/gmail.py
  skills/gmail/tile.json
  tests/test_gmail.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(gmail): show To/Cc/Bcc recipients in message output
  skills/gmail/scripts/gmail.py
  tests/test_gmail.py
Due: tessl-lint, tessl-sync, diff-cover

feat(google-drive): add comment and reply CRUD with resolve/reopen support
  skills/google-drive/SKILL.md
  skills/google-drive/references/api-reference.md
  skills/google-drive/references/command-reference.md
  skills/google-drive/references/permissions.md
  skills/google-drive/scripts/google-drive.py
  skills/google-drive/tile.json
  tests/test_google_drive.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

chore: gitignore tessl-plugin generated artifacts
  .gitignore
Due: none

fix(confluence): fix Cloud page update and improve markdown conversion
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): add page delete command
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): add page move command for reparenting pages
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): add space permissions list/add/remove commands
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): add TOC macro and internal link conversion
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): add frontmatter support for page round-tripping
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

refactor(confluence): make marklassian and markdown required dependencies
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): use markdownify for storage-to-markdown conversion
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-docs): add frontmatter support for markdown import
  skills/google-docs/SKILL.md
  skills/google-docs/scripts/google-docs.py
  skills/google-docs/tile.json
  tests/test_google_docs.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(gmail): add in-thread reply support for send and drafts create
  skills/gmail/SKILL.md
  skills/gmail/scripts/gmail.py
  skills/gmail/tile.json
  tests/test_gmail.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-docs): post-import formatting, bullet fix, and readability check
  skills/google-docs/SKILL.md
  skills/google-docs/scripts/google-docs.py
  skills/google-docs/tile.json
  tests/test_google_docs.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

docs(google-docs,google-drive): cross-reference import capabilities
  skills/google-docs/SKILL.md
  skills/google-drive/SKILL.md
  skills/google-drive/tile.json
Due: validate-skills, tessl-lint, tessl-sync

chore: remove code-review skill and fix version check for deleted skills
  scripts/check_versions.sh
  skills/code-review/SKILL.md
  skills/code-review/references/review-checklist.md
  skills/code-review/tile.json
Due: validate-skills, tessl-lint, tessl-sync

fix(google-docs): include namedStyleType in updateNamedStyle fields mask
  skills/google-docs/scripts/google-docs.py
Due: tessl-lint, tessl-sync, diff-cover

feat(google-docs): pageless mode, table header styling, compact rows
  skills/google-docs/scripts/google-docs.py
  tests/test_google_docs.py
Due: tessl-lint, tessl-sync, diff-cover

docs(google-docs): clarify that frontmatter is stripped during import
  skills/google-docs/SKILL.md
  skills/google-docs/scripts/google-docs.py
  skills/google-docs/tile.json
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(jira): add automation rule listing and export (Cloud-only)
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  skills/jira/tile.json
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-docs): embed local images during markdown import
  skills/google-docs/SKILL.md
  skills/google-docs/references/formatting-guide.md
  skills/google-docs/scripts/google-docs.py
  skills/google-docs/tile.json
  tests/test_google_docs.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence)!: remove Data Center/Server support (Cloud-only)
  skills/confluence/SKILL.md
  skills/confluence/references/creating-content.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-docs): switch to markdown-it-py and add import warnings
  skills/google-docs/SKILL.md
  skills/google-docs/scripts/google-docs.py
  skills/google-docs/tile.json
  tests/test_google_docs.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): embed local images as attachments during page create/update
  skills/confluence/SKILL.md
  skills/confluence/references/creating-content.md
  skills/confluence/scripts/confluence.py
  skills/confluence/tile.json
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

chore: replace tessl with skillsaw for skill linting
  .claude/settings.json
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  .skillsaw-baseline.json
  .skillsaw.yaml
  CLAUDE.md
  README.md
  scripts/pre_commit_checks.sh
  scripts/sync_tile_versions.sh
  skills/CLAUDE.md
  skills/confluence/tile.json
  skills/gerrit/tile.json
  skills/github/tile.json
  skills/gitlab/tile.json
  skills/gmail/tile.json
  skills/google-calendar/tile.json
  skills/google-docs/tile.json
  skills/google-drive/tile.json
  skills/google-sheets/tile.json
  skills/google-slides/tile.json
  skills/jira/tile.json
Due: tessl-lint, tessl-sync

fix: regenerate skillsaw baseline from repo root
  .skillsaw-baseline.json
Due: none

fix(ci): add missing marklassian and markdown to dev dependencies
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

fix(ci): drop Python 3.10 support (marklassian requires 3.11+)
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

fix(ci): add missing markdown-it-py to dev dependencies
  pyproject.toml
Due: none

docs(readme): remove hardcoded dependency list from features
  README.md
Due: none

docs: update contributing and developer guides
  CONTRIBUTING.md
  docs/developer-guide.md
Due: none

chore: remove Python 3.10 from pyproject.toml classifiers
  pyproject.toml
Due: none

docs: add skillsaw lint to manual checks sections
  CONTRIBUTING.md
  docs/developer-guide.md
Due: none

refactor: remove validate_skill.py checks now covered by skillsaw
  scripts/validate_skill.py
  tests/test_validate_skill.py
Due: diff-cover

Path conditions:
  validate-skills: any of: ^skills/.*/SKILL\.md$
  tessl-lint: any of: ^skills/
  tessl-sync: any of: ^skills/
  diff-cover: any of: \.py$
