Repository odyssey4me/agent-skills: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-skills, tessl-lint, tessl-sync, diff-cover

validate-skills:
  name: validate skill structure
  entry: python scripts/validate_skill.py
  language: system
  pass_filenames: false
  args:
  - skills/*
  stages:
  - pre-commit

tessl-lint:
  name: tessl skill lint
  entry: bash -c 'status=0; for t in skills/*/tile.json; do tessl skill lint "$t" || status=1; done; exit $status'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tessl-sync:
  name: check tile.json files are up to date
  entry: bash -c 'for d in skills/*/; do [ -f "$d/tile.json" ] && tessl skill import "$d" --workspace odyssey4me --public --force 2>/dev/null; done; git diff --exit-code skills/*/tile.json'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

diff-cover:
  name: coverage for changed lines
  entry: bash -c 'pytest tests/ -q --cov=skills --cov=scripts --cov-report=xml:coverage.xml && diff-cover coverage.xml --compare-branch=HEAD --fail-under=80'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(readme): remove stale code-review skill table entry
  README.md
Due: none

chore: adopt uv with lockfile for reproducible installs
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  docs/developer-guide.md
  pyproject.toml
  renovate.json
  skills/gerrit/SKILL.md
  skills/gerrit/scripts/gerrit.py
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  uv.lock
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(ci): add uv sync step to lint job
  .github/workflows/ci.yaml
Due: none

fix(ci): use --extra dev not --group dev for optional dependencies
  .github/workflows/ci.yaml
Due: none

feat(confluence): add image download, ADF format, TOC in frontmatter
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-slides)!: rewrite as Markdown-driven presentation builder
  pyproject.toml
  skills/google-slides/SKILL.md
  skills/google-slides/references/command-reference.md
  skills/google-slides/references/layouts-guide.md
  skills/google-slides/references/permissions.md
  skills/google-slides/references/presentations-guide.md
  skills/google-slides/references/shapes-guide.md
  skills/google-slides/scripts/google-slides.py
  tests/test_google_slides.py
  uv.lock
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(google-slides): add layout template system and verification enhancements
  skills/google-slides/references/command-reference.md
  skills/google-slides/references/presentations-guide.md
  skills/google-slides/scripts/google-slides.py
  tests/test_google_slides.py
Due: tessl-lint, tessl-sync, diff-cover

feat(google-slides): template-based presentation builder
  skills/google-slides/scripts/google-slides.py
  skills/google-slides/templates/default.pptx
  skills/google-slides/templates/generate_template.py
  tests/test_google_slides.py
Due: tessl-lint, tessl-sync, diff-cover

feat(google-slides): simplify get command to pptx download
  skills/google-slides/scripts/google-slides.py
  tests/test_google_slides.py
Due: tessl-lint, tessl-sync, diff-cover

feat(jira): add dashboard, filter, and richfilter commands
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: tessl-lint, tessl-sync, diff-cover

chore: regenerate skillsaw baseline after removing Google skills
  .skillsaw-baseline.json
Due: none

fix: match local skillsaw hooks to CI strict mode
  .pre-commit-config.yaml
Due: none

refactor: use Renovate for gogcli version updates
  .github/workflows/update-gogcli.yaml
  .github/workflows/validate-gogcli.yaml
  renovate.json
Due: none

docs: add SECURITY.md and document dependency security checks
  SECURITY.md
  skills/google/references/configuration.md
Due: tessl-lint, tessl-sync

fix: correct Renovate manager name and update lockfile
  renovate.json
  uv.lock
Due: none

fix: add uv lockfile check to pre-commit and CI
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

chore(ci): SHA-pin GitHub Actions and add least-privilege permissions
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/validate-gogcli.yaml
  renovate.json
Due: none

docs(security): document applied security principles
  SECURITY.md
Due: none

docs: merge AGENTS.md into CLAUDE.md and fix stale references
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/developer-guide.md
  docs/user-guide.md
Due: none

docs(readme): trim to minimal pointer with no duplication
  README.md
Due: none

docs(readme): fix inaccurate self-contained description
  README.md
Due: none

docs(readme): remove inaccurate Features section
  README.md
Due: none

docs: add agent-specific installation paths and fix stale references
  README.md
  docs/user-guide.md
Due: none

docs: fix remaining stale references across documentation
  docs/developer-guide.md
  docs/user-guide.md
Due: none

docs(todo): remove stale Google Drive section and fix version bumps
  TODO.md
Due: none

docs(jira): update default fields to match code
  .skillsaw-baseline.json
  docs/user-guide.md
  skills/jira/SKILL.md
Due: validate-skills, tessl-lint, tessl-sync

docs(google): add round-trip docs workflows and missing CLI flags
  skills/google/SKILL.md
  skills/google/references/docs-workflows.md
  skills/google/references/docs.md
Due: validate-skills, tessl-lint, tessl-sync

fix(google): correct formatting flag usage in docs workflows
  skills/google/SKILL.md
  skills/google/references/docs-workflows.md
  skills/google/references/docs.md
Due: validate-skills, tessl-lint, tessl-sync

fix(google): document post-import frontmatter removal workflow
  skills/google/references/docs-workflows.md
Due: tessl-lint, tessl-sync

docs(google): document bullet spacing limitation and link to upstream issue
  skills/google/references/docs-workflows.md
Due: tessl-lint, tessl-sync

feat(jira): add resolution to default fields
  skills/jira/scripts/jira.py
Due: tessl-lint, tessl-sync, diff-cover

chore(jira): bump version to 0.10.0
  .skillsaw-baseline.json
  skills/jira/SKILL.md
Due: validate-skills, tessl-lint, tessl-sync

refactor(jira,confluence): reduce SKILL.md context budgets under 3000 tokens
  .skillsaw-baseline.json
  .skillsaw.yaml
  skills/confluence/SKILL.md
  skills/jira/SKILL.md
  skills/jira/references/advanced-commands.md
  skills/jira/references/configuration.md
  skills/jira/references/from-file-format.md
Due: validate-skills, tessl-lint, tessl-sync

fix(confluence): reuse existing attachments on page update
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): insert anchor macros for internal heading links
  skills/confluence/scripts/confluence.py
  tests/test_confluence.py
Due: tessl-lint, tessl-sync, diff-cover

feat(jira): add issue type to default fields and formatted output
  skills/jira/SKILL.md
  skills/jira/scripts/jira.py
  tests/test_jira.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

feat(confluence): add page metadata and version history
  skills/confluence/SKILL.md
  skills/confluence/scripts/confluence.py
  skills/jira/SKILL.md
  tests/test_confluence.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

fix(ci): stop validate-gogcli from pushing timestamp-only commits
  .github/workflows/validate-gogcli.yaml
Due: none

refactor(google): simplify gogcli validation and remove push loop
  .github/workflows/validate-gogcli.yaml
  SECURITY.md
  renovate.json
  skills/google/SKILL.md
  skills/google/dependencies.json
  skills/google/references/configuration.md
  skills/google/scripts/google.py
  tests/test_google.py
Due: validate-skills, tessl-lint, tessl-sync, diff-cover

Path conditions:
  validate-skills: any of: ^skills/.*/SKILL\.md$
  tessl-lint: any of: ^skills/
  tessl-sync: any of: ^skills/
  diff-cover: any of: \.py$
